
.prod__option-label__quantity {
  display: block;
}

.form__input-wrapper--select.flex-1 {
  margin-bottom: 0 !important;
}

/* Hide empty product form errors */
.prod__form-error:empty {
  display: none;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.prod__form-error:not(:empty) {
  display: block;
}

.quantity-input.qty-over-limit {
  position: relative;
}
.quantity-input.qty-over-limit::after {
  content: attr(data-over-value);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  text-decoration: line-through;
  pointer-events: none;
}
.quantity-input.qty-over-limit .quantity-input__element {
  color: transparent;
}
